body {
    background-image: url(./images/back-img.png);
  }

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ;

}
.rps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
    padding: 10px;
}

.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    size: 100px;
    gap: 20px;
    padding: 8px;
}

.score-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    size: 100px;
    gap: 90px;
    padding: 50px;
}


.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    margin-top: 180px;
    gap: 80px;
}

.sign {

    font-family: input-mono,monospace;
    font-weight: 200;
    font-size: 80px;
    color: #b9d3ca;
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;

}


#paperBtn:hover {
    opacity: 0.5;
  }


#scissorsBtn:hover {
    opacity: 0.5;
  }

#rockBtn:hover {
    opacity: 0.5;
  }

  h1 {
    font-family: input-mono,monospace;
    font-weight: 400;
    font-size: 80px;
    color: #fbff12;
    font-style: italic;
    text-align: center;
    margin: 0px;
    padding: 0px;

  }

  h2 {
    font-family: input-mono,monospace;
    font-weight: 200;
    font-size: 50px;
    color: #b9d3ca;
    text-align: center; 
    padding: 0px;
    margin: 0px;
  }

  h3 {
    font-family: input-mono,monospace;
    font-weight: 400;
    font-size: 20px;
    color: #869592;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
/* FOOTER */

footer {
    font-family: input-mono,monospace;
    font-weight: 400;
    font-size: 15px;
    color: #869592;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.fa-github {
    color: #869592;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  